* {
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

body {
    background-color: #e3e6e6;
    height: 100%;
}

/* navbar one*/

.navbar-one {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.nav-logo {
    height: 50px;
    width: 100px;
}
.logo {
    background-image: url("photo_of_amazon/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

/* white border */
.border {
    border : 1.5px solid #0f1111;
    border-radius: 2px;  
}
.border:hover {
    border : 1.5px solid white;
    border-radius: 2px;  
}

.address {
    height: 35px;
    width: 80px;
    position: relative;
}
#deliver-to {
    font-size: 12px;
    position: relative;
    left: 25px;
    color: #cccccc;
}

/* search bar styling  including  select input and botton */
.search-bar {
    height: 41px;
    width: 849px;
    display: flex;
    align-items: center;
    border: 2px solid #0f1111;
}
.search-bar:hover {
    border: 2px solid #ffaa3c;
    border-radius: 5px;
    box-shadow: 0 0 5px #ffaa3c;
}

/* select box styling */
#all {
    height: 41px;
    width: 50px;
    border-radius: 4px 0 0 4px;
    text-align: center;

    /* appearance: none;        
    -webkit-appearance: none;
    -moz-appearance: none; */
    /* due to arrow of select box */

    border: 1px solid #ccc;
    box-shadow: none;
    background: #e7e7e7;
    outline: none;
}
#all:hover {
    background: #d6d6d6;
}

#search {
    height: 37px;
    width: 745px;
    border-radius: 0 0 0 0;
    border-color: white;
    font-size: 1rem;
    box-shadow: none;
    outline: none;

    appearance: none;        /* Standard */
    -webkit-appearance: none; /* Chrome, Safari */
    -moz-appearance: none;    /* Firefox */

    border: 1px solid #ccc;   /* Simple flat border */
    box-shadow: none;         /* Remove shadow */
    background: #fff;         /* Flat background */
    outline: none;
}

.search-button {
    background: #febd68;
    height: 41px;
    width: 45px;
    border-radius: 0 4px 4px 0;
    border: 1px solid #febd68;
    font-size: 1.2rem;
    color: #0f1111;
    box-shadow: none;
    outline: none;
    background-image: none;

    appearance: none;        /* Standard */
    -webkit-appearance: none; /* Chrome, Safari */
    -moz-appearance: none;    /* Firefox */
}
.search-button:hover {
    background: #ffaa3c;
    border: 1px solid #ffaa3c;
}

/* right navbar */

.language {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 72px;
}

.language-select {
    background-color: #0f1111;
    color: white;
    border: #0f1111;
    height: 45px;
    width: 40px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.flag {
    background-image: url("photo_of_amazon/india_flag.jpg");
    background-size: cover;
    height: 16.2px;
    width: 24.3px;
}

.nav-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0f1111;
    height: 60px;
    width: 380px;
}

.sign-in {
    background-color: #0f1111;
    height: 50px;
    width: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order {
    background-color: #0f1111;
    height: 50px;
    width: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart {
    background-color: #0f1111;
    height: 50px;
    width: 84px;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.bold-color {
    font-weight: bold;
    font-size: 14px;
    height: 16px;
}
.light-color {
    color: #cccccc;
    font-weight: bold;
    font-size: 12px;
    height: 14px;
}


/* navbar two */
.navbar-two {
    height: 39px;
    background-color: #232F3E;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu-icon {
    color: white;
    height: 38px;
    font-size: 14px;
    display: flex;
    align-items: center;
    border: 1px solid #232F3E;
}

.nav-two-text {
    height: 38px;
    color: white;
    font-size: 14px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    border: 1px solid #232F3E;
}

.hero-content {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 70%, rgba(227,230,230,0.7)),url("photo_of_amazon/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.hero-content-one {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero-content-two {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box-shop-one {
    margin-top: 350px;
    height: 420px;
    width: 342px;
    background-color: white;

    display: flex;
    flex-direction: column;   /* puts divs on different lines */
    align-items: center;
}

.box-shop-two {
    margin-top: 120px;
    height: 420px;
    width: 342px;
    background-color: white;

    display: flex;
    flex-direction: column;   /* puts divs on different lines */
    align-items: center;
}

.box-text {
    height: 28px;
    width: 300px;
    font-size: 19px;
    font-weight: bold;
    line-height: 1.3rem;
    margin: 25px 0 50px 0;
}

.box-text-inside {
    height: 20px;
    width: 300px;
    font-size: 16px;
    color: #007185;
    margin-top: 50px;
}

#box1 {
    background-image: url("photo_of_amazon/box1.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 312px;
}
#box2 {
    background-image: url("photo_of_amazon/box2.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 312px;
}
#box3 {
    background-image: url("photo_of_amazon/box3.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 312px;
}
#box4 {
    background-image: url("photo_of_amazon/box4.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 312px;
}
#box5 {
    background-image: url("photo_of_amazon/box5.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 312px;
}
#box6 {
    background-image: url("photo_of_amazon/box6.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 312px;
}
#box7 {
    background-image: url("photo_of_amazon/box7.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 312px;
}
#box8 {
    background-image: url("photo_of_amazon/box8.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 312px;
}

/* footer */

.footer-1 {
    height: 50px;
    width: 1536px;
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-size: small;
}

.footer-2 {
    height: 200px;
    width: 1536px;
    background-color: #232f3e;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    font-size: small;
    padding-top: 45px;
    line-height: 1.8rem;
}
ul a {
    text-decoration: none;
    color: #cccccc;
}

.footer-3 {
    height: 60px;
    width: 1536px;
    background-color: #0f1111;
    color: #cccccc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.globle {
    height: 55px;
    width: 131px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.globle button {
    background-color: #232F3E;
    color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0f1111;
    box-shadow: none;
    outline: none;
    background-image: none;
    appearance: none;        /* Standard */
    -webkit-appearance: none; /* Chrome, Safari */
    -moz-appearance: none;
}

.foot-lang {
    height: 60x;
    width: 131px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.foot-lang select {
    height: 41px;
    width: 50px;
    border-radius: 4px;
    border: #0f1111;
    color: #cccccc;
    text-align: center;
    box-shadow: none;
    background: #0f1111;
    outline: none;
}

#foot-3-divide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-4 {
    height: 60px;
    width: 1536px;
    background-color: #0f1111;
    color: #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}